nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
}

nav div{
    font-size: 1.3rem;
}

nav div:nth-child(1){
    cursor:context-menu;
}

nav div:nth-child(2) a{
    text-decoration: none;
    border-bottom: transparent solid;
    transition: border-bottom 0.3s ease-in;
}

nav div:nth-child(2) a:hover {
    border-bottom: #006310 solid;
}

.active{
    border-bottom: solid #006310;
    color: #006310;
}

.active_icon *{
    color:#006310
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-right: 4rem;
}